.login {
  width: 100%;
  max-width: 330px;
  margin: 80px auto;
}
/* horizontal line divide */
.separator {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  opacity: 0.6;
  /* margin: 15px 8px 30px; */
}
.separator::before,
.separator::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
} /* horizontal divide end */
